<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>
<div class="conteiner">
    <hr>
    <h2>Categorias</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>               
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.Id %></th>
                    <th><%= category.Titulo %></th>
                    <th><%= category.Slug %></th>
                    <th></th>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <hr>
</div>



<%- include ('../../partials/footer.ejs'); %>